In [2]:
import pandas as pd

In [6]:

# Load all datasets
transactions = pd.read_csv("transactions_2019data.csv")
fraud_labels = pd.read_json("fraud_labels.json")
card_info = pd.read_csv("cards_data.csv")
users = pd.read_csv("users_data.csv")

print("Transactions shape:", transactions.shape)
print("Fraud labels shape:", fraud_labels.shape)
print("Card info shape:", card_info.shape)
print("Users shape:", users.shape)

Transactions shape: (1159966, 12)
Fraud labels shape: (777339, 2)
Card info shape: (6146, 13)
Users shape: (2000, 14)

In [7]:
# Merge transactions with fraud_labels
df_step1 = transactions.merge(
    fraud_labels,
    left_on="id",
    right_on="transaction_id",
    how="left"
)

print("After merging fraud labels:", df_step1.shape)

After merging fraud labels: (1159966, 14)

In [8]:
# Merge with card information
df_step2 = df_step1.merge(
    card_info,
    left_on="card_id",
    right_on="id",
    how="left",
    suffixes=("", "_card")
)

print("After merging card info:", df_step2.shape)

After merging card info: (1159966, 27)

In [9]:
# Merge with users dataset
df_master = df_step2.merge(
    users,
    left_on="client_id",
    right_on="id",
    how="left",
    suffixes=("", "_user")
)

print("After merging users info (df_master):", df_master.shape)

After merging users info (df_master): (1159966, 41)

In [10]:
df_master.head()

,id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,...,birth_month,gender,address,latitude,longitude,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards
0,22326462,2019-01-01 00:02:00,496,3186,$119.35,Chip Transaction,30286,Mesquite,TX,75149.0,...,8,Male,16893 Fifth Avenue,32.76,-96.59,$17810,$36319,$44737,730,4
1,22326465,2019-01-01 00:05:00,1129,2677,$100.00,Chip Transaction,27092,Vista,CA,92084.0,...,4,Male,2379 Forest Lane,33.18,-117.29,$16894,$34449,$36540,686,3
2,22326466,2019-01-01 00:06:00,114,5283,$51.71,Chip Transaction,61195,North Hollywood,CA,91606.0,...,12,Female,112 Elm Avenue,34.18,-118.39,$16892,$34441,$907,725,4
3,22326467,2019-01-01 00:06:00,641,2774,$105.30,Swipe Transaction,75781,Columbus,OH,43228.0,...,11,Male,878 Forest Street,39.98,-82.98,$18420,$37556,$0,735,6
4,22326468,2019-01-01 00:10:00,114,5283,$82.00,Chip Transaction,61195,North Hollywood,CA,91606.0,...,12,Female,112 Elm Avenue,34.18,-118.39,$16892,$34441,$907,725,4